<footer class="bg-footer">
  <div class="container p-4">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-2">
            <img src="assets/images/CNCBid_footer.png">
          </div>
          <div class="col-2 pt-3 ps-5">
            <p class="fw-bolder">Yardımcı Olalım</p>
            <ul>
              <li>Nasıl Alırım?</li>
              <li>Nasıl Satarım</li>
              <li>Hakkımızda</li>
              <li>Üyelik</li>
            </ul>
          </div>
          <div class="col-3 pt-3">
            <p class="fw-bolder">Sözleşmeler</p>
            <ul>
              <li>Gizlilik Politikası</li>
              <li>Kişisel Verilerin Korunması</li>
              <li>Kullanıcı İhale Sözleşmesi</li>
              <li>Sorumluluk Reddi</li>
            </ul>
          </div>
          <div class="col-5">
            <div class="row">
              <div class="col-3 me-auto">
                <img src="assets/images/footer/subscribe.png">
              </div>
              <div class="col-12 text-right position-relative" style="margin-top: -85px;">
                <p style="text-align: center !important; font-size: 20px; font-weight: bold; color: #f7a931">E Bültene Abone Olun!</p>
                <div class="send-mail">
                  <i class="fa-solid fa-paper-plane"></i>
                </div>
                <input type="text" class="subscribe-input" placeholder="E Posta Adresiniz...">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 pt-4">
        <span class="faq-widget">
          <a href="" class="me-3">SSS</a>
          |
          <a href="" class="mx-3">Yardım</a>
          |
          <a href="" class="ms-3">Geçmiş Açık Arttırmalar</a>
        </span>
      </div>
      <div class="col-12 py-4">
        <div class="row">
          <div class="col-6 align-self-center ">
            <div class="row footer-contact">
              <div class="col-4">
                <p class="mb-0">Telefon</p>
                <span>(+90) 212 210 95 98</span>
              </div>
              <div class="col-4">
                <p class="mb-0">Faks</p>
                <span>(+90) 212 210 95 98</span>
              </div>
              <div class="col-4">
                <p class="mb-0">E-Posta</p>
                <span>info@cncbid.com</span>
              </div>
            </div>
          </div>
          <div class="col-6 text-right">
            <ul class="social-media text-right">
              <li class="pt-1">
                <a href="#">
                  <img src="assets/images/footer/facebook.jpg">
                </a>
              </li>
              <li class="pt-1">
                <a href="#">
                  <img src="assets/images/footer/twitter.jpg">
                </a>
              </li>
              <li class="pt-1">
                <a href="#">
                  <img src="assets/images/footer/instagram.jpg">
                </a>
              </li>
              <li class="pt-1">
                <a href="#">
                  <img src="assets/images/footer/youtube.jpg">
                </a>
              </li>
              <li class="pt-1">
                <a href="#">
                  <img src="assets/images/footer/linkedin.jpg">
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="assets/images/footer/download-button.jpg">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="container">
  <div class="row px-3 py-2">
    <div class="col-6 text-left">Copyright @ CNCbid</div>
    <div class="col-6 text-right">Web Tasarım | Naya Digital</div>
  </div>
</div>
