.bg-footer{
  background-color: #f8f8f8;
}

ul{
  padding-left: 0;
  list-style: none;
}

.faq-widget{
  color: #f7a931;
  font-size: 14px;
}
.faq-widget>a{
  color: #f7a931;
}

.footer-contact{
  color: #a3a2a2;
}

.social-media{
  padding-top: 10px;
  display: flex;
  float: right;
}
.social-media>li{
  padding-left: 10px;
}

.subscribe-input{
  height: 40px;
  background-color: #fff;
  border: #fff;
  width: 97%;
  padding: 15px 55px 15px 15px;
  font-size: 12px;
  border: 0;
}
.subscribe-input:focus-visible{
  outline: none;
}

.send-mail{
  width: 50px;
  height: 40px;
  background-color: #f7a931;
  color: #fff;
  position: absolute;
  right: 0;
}
.fa-paper-plane{
  padding: 12px 16px;
}
